Repository actions/starter-workflows, pull requests merged in 2023-12, with the labels that each got.

#2257 update codeql.yml to reference node20 actions
  code-scanning/codeql.yml
Labels: code-scanning

#2234 Synopsys Action's starter workflow
  code-scanning/properties/synopsys-action.properties.json
  code-scanning/synopsys-action.yml
  icons/synopsys-action.svg
Labels: code-scanning, partner

#2266 Pages: Update all workflows to use Artifacts V4
  pages/astro.yml
  pages/gatsby.yml
  pages/hugo.yml
  pages/jekyll-gh-pages.yml
  pages/jekyll.yml
  pages/mdbook.yml
  pages/nextjs.yml
  pages/nuxtjs.yml
  pages/static.yml
Labels: pages
